---
// 头部 Frontmatter：可导入组件或数据
import Layout from '../layouts/Layout.astro';
const pageTitle = "WebDev101 - demo";
---

<Layout title={pageTitle}>
  <main>
    <h1>WebDev101</h1>
    <p>Page personnelle de Boyang Xu pour les projets et TP du cours WebDev101, Télécom Paris 2025</p>
    <!-- 插入图片 -->
    <img src="/image.png" alt="演示图片" width="600" />
  </main>
</Layout>
