---
import BaseLayout from '../layouts/Layout.astro';
const pageTitle = "Mini Projet - PUNTO";
---

<BaseLayout title={pageTitle}>
  <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    table {
        border-collapse: collapse;
        margin-top: 20px;
    }
    td {
        width: 55px;
        height: 55px;
        background-color: #adacac;
        border: 1px solid black;
    }
    .center-square {
        background-color: white;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
  </style>

  <div class="title">Le jeu punto</div>
  <table id="board"></table>

  <script is:inline src="../scripts/miniprojet/app.js"></script>
</BaseLayout>
